<ion-header>
  <ion-toolbar color="secondary">
    <button ion-button menuToggle colour="dark">
          <ion-icon name="menu"></ion-icon>
      </button>  
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-style">
  
  <div *ngIf="cartExists">


  <button ion-button color="primary" outline (click)="buttonTapped($event, page)">Checkout</button>
  </div>

  <div *ngIf="!cartExists">
		<h3>Your cart is empty</h3>				
	</div>	
</ion-content>