<ion-header>
  <ion-toolbar color="secondary">
    <button ion-button menuToggle colour="dark">
    	<ion-icon name="menu"></ion-icon>
		</button>
		<div *ngIf="!isLogin">
			<ion-title>Login</ion-title>
		</div>
		<div *ngIf="isLogin">
			<ion-title>Log Out</ion-title>
		</div>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-style">
	<div *ngIf="!isLogin">
		<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

			<div>
				<div *ngIf="inemail.invalid && (inemail.dirty || inemail.touched || submitted)" class="errorText">
					<div *ngIf="inemail.errors.required">
						Email is required.
					</div>
					<div *ngIf="inemail.errors.minlength">
						Email must be at least 4 characters long.
					</div>
					<div *ngIf="inemail.errors.maxlength">
						Email cannot exceed 50 characters.
					</div>
					<div *ngIf="inemail.errors?.email">
						Email must be valid.
					</div>
				</div>

				<div *ngIf="inpassword.invalid && (inpassword.dirty || inpassword.touched || submitted)" class="errorText">
					<div *ngIf="inpassword.errors.required">
						Password is required.
					</div>
					<div *ngIf="inpassword.errors.minlength">
						Password must be at least 4 characters long.
					</div>
					<div *ngIf="inpassword.errors.maxlength">
						Password cannot exceed 32 characters.
					</div>
				</div>

				<div *ngIf="loginErrorMessage" class="errorText">
					{{loginErrorMessage}}
				</div>

			</div>

			<ion-list>
				<ion-item>
					<ion-label fixed>Email</ion-label>
					<ion-input type="email" placeholder="Eg. user@gmail.com" id="email" name="email" [(ngModel)]="email" minlength="4" maxlength="32" required="true" email #inemail="ngModel"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label fixed>Password</ion-label>
					<ion-input type="password" placeholder="Eg. password" id="password" name="password" [(ngModel)]="password" minlength="4" maxlength="32" required="true" #inpassword="ngModel"></ion-input>
				</ion-item>

        <div align="center">
          <button type="submit" ion-button outline>
            Login
          </button> <br/><br/>
        </div>
			</ion-list>

			Don't have an account?
			<a (click)="register()"><font color="#e299c4">Click here to sign up with us instead!</font> </a>
			<!-- <button small ion-button outline (click)="register()">
				Sign Up
			</button> -->
		</form>
	</div>

	<div *ngIf="isLogin">
		<h3>Welcome Back!</h3>
		<br/>
		<button ion-button align="center" (click)="logout()">
			Log out
		</button>
	</div>

</ion-content>
