<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Forgot Password?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">

  <form #forgotPw="ngForm" (ngSubmit)="resetPw(forgotPw)">
    <div>
      <div *ngIf="inemail.invalid && (inemail.dirty || inemail.touched || submitted)" class="errorText">
        <div *ngIf="inemail.errors.required">
          Email is required.
        </div>
        <div *ngIf="inemail.errors.minlength">
          Email must be at least 4 characters long.
        </div>
        <div *ngIf="inemail.errors.maxlength">
          Email cannot exceed 50 characters.
        </div>
        <div *ngIf="inemail.errors?.email">
          Email must be valid.
        </div>
      </div>
    </div>

    Enter your Email to reset Password
    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input type="email" id="email" name="email" [(ngModel)]="email" minlength="4" maxlength="32" required="true" email #inemail="ngModel"></ion-input>
    </ion-item>

    <button block type="submit" ion-button outline>
      Reset Password
    </button>
  </form>
</ion-content>
