<ion-header>
  <ion-toolbar color="secondary">
    <button ion-button menuToggle colour="dark">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Manage Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="dark" (click)="cartTapped($event, page)">
            <ion-icon name="cart"></ion-icon>
            Cart
          </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-style">
<h4> Profile Details </h4>

  <div *ngIf="!isUpdated">
    <form #updateProfileForm="ngForm" (ngSubmit)="updateProfile(updateProfileForm)">
      <div>
        <div *ngIf="(infirstname.dirty || infirstname.touched || submitted)" class="errorText">
          <div *ngIf="infirstname.errors.minlength">
            First Name must be at least 3 characters long.
          </div>
          <div *ngIf="infirstname.errors.maxlength">
            First Name cannot exceed 32 characters.
          </div>
        </div>

        <div *ngIf="(inlastname.dirty || inlastname.touched || submitted)" class="errorText">
          <div *ngIf="inlastname.errors.minlength">
            Last Name must be at least 3 characters long.
          </div>
          <div *ngIf="inlastname.errors.maxlength">
            Last Name cannot exceed 32 characters.
          </div>
        </div>

        <div *ngIf="(inmobilenum.dirty || inmobilenum.touched || submitted)" class="errorText">
          <div *ngIf="inmobilenum.errors.minlength">
            Mobile number must be 8 characters long.
          </div>
          <div *ngIf="inmobilenum.errors.maxlength">
            Mobile number must be 8 characters long.
          </div>
        </div>

        <div *ngIf="updateProfileErrorMessage" class="errorText">
          {{updateProfileErrorMessage}}
        </div>
      </div>

      <ion-list>
        <ion-item>
          <ion-label fixed>First Name</ion-label>
          <ion-input type="text" placeholder="text" id="firstname" name="firstname" [(ngModel)]="firstname" minlength="3" maxlength="32" required="false" #infirstname="ngModel">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Last Name</ion-label>
          <ion-input type="text" placeholder="text" id="lastname" name="lastname" [(ngModel)]="lastname" minlength="3" maxlength="32" required="false" #inlastname="ngModel">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Contact</ion-label>
          <ion-input type="text" placeholder="text" id="mobilenum" name="mobilenum" [(ngModel)]="mobilenum" minlength="8" maxlength="8" required="false" #inmobilenum="ngModel">
          </ion-input>
        </ion-item>

        <ion-item>
          <button type="submit" ion-button outline>
            Save changes
          </button>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <button ion-button color="primary" outline (click)="buttonTapped($event, page)">Change Password</button>

  <div *ngIf="isUpdated">
    <h3>Successfully Updated Profile</h3>
    <button ion-button color="primary" outline (click)="homeTapped($event, page)">Back To Home</button>
  </div>
</ion-content>
