<ion-header>
  <ion-navbar color="secondary">
    <ion-list *ngIf="shopToView != null">
      <ion-title>{{shopToView.shopName}}</ion-title>
    </ion-list>
    
    <ion-buttons end>
      <button ion-button icon-left color="dark" (click)="cartTapped($event, page)">
        <ion-icon name="cart"></ion-icon>
        Cart
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style">
  <div *ngIf="errorMessage" class="errorText">
    {{errorMessage}}
  </div>
  
  <div *ngIf="infoMessage" class="infoText">
    {{infoMessage}}
  </div>

  <ion-list *ngIf="shopToView != null">
    <ion-grid>
      <ion-row center>
        <ion-col text-center>
          <ion-img width="120" height="120" src="./assets/imgs/shop1-fiona-treadwell-logo.jpg">
          </ion-img><br>                      	

          <ion-item>
            <b>Shop Name: </b>{{shopToView.shopName}} <br/>
            <b>Location: </b><i>{{shopToView.location}}</i> <br/>  
            <p>Area: {{shopToView.area}}</p>
          </ion-item> <br/>

          <ion-list *ngFor="let product of products">
            <span>
              <h2 align="left" padding>Products</h2>
            </span>
          
            <ion-card (click)="viewProduct(product.productId)">      
              <ion-item>
                <ion-img>Product Image</ion-img><br>
                <b>Product Name:</b>
                {{product.productName}}
              </ion-item>

              <ion-item>        
                <b>Product Price:</b>
                ${{product.price}}
              </ion-item>
            </ion-card>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


  <div style="padding: 13px">
    <button ion-button outline (click)="viewReview($event, shopToView.shopId)">View Reviews</button>
  </div>
</ion-content>
