<ion-header>

  <ion-toolbar color="secondary">
    <button ion-button menuToggle colour="dark">
          <ion-icon name="menu"></ion-icon>
      </button>  
    <ion-title>Confectionery</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="dark" (click)="cartTapped($event, page)">
        <ion-icon name="cart"></ion-icon>
          Cart
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding class="bg-style">
	<div *ngIf="errorMessage" class="errorText">
    {{errorMessage}}
  </div>

  <ion-list>    
    <ion-item>
      <ion-label item-start>
        <b>Filter by Price</b>
      </ion-label> 
      <ion-label item-end>
        Price Range: ${{priceFilter.lower}} - ${{priceFilter.upper}}
      </ion-label>     

      <ion-range color="danger" pin="true" dualKnobs="true" [(ngModel)]="priceFilter" min="1" max="100" (ionChange)="filterProductByPrice()"></ion-range>
    </ion-item>  
  </ion-list>

  <ion-grid>    
    <ion-list *ngFor="let product of priceFilteredProducts">
      <ion-row>      
        <ion-col>
          <ion-card (click)="viewProduct(product.productId)">
          
            <ion-item>
              <ion-img>Product Image</ion-img><br>
              <b>Product Name:</b>
              {{product.productName}}
            </ion-item>

            <ion-item>        
              <b>Product Price:</b>
              ${{product.price}}
            </ion-item>
          </ion-card>

        </ion-col>      
      </ion-row>
    </ion-list>      
  </ion-grid>
</ion-content>