<ion-header>
  <ion-navbar color="primary">
    <ion-list *ngIf="productToView != null">
      <ion-title>{{productToView.productName}}</ion-title>
    </ion-list>
    <ion-buttons end>
      <button ion-button icon-left color="light" (click)="cartTapped($event, page)">
        <ion-icon name="cart"></ion-icon>
          Cart
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>	

  <div *ngIf="errorMessage" class="errorText">
    {{errorMessage}}
  </div>
  
  <div *ngIf="infoMessage" class="infoText">
    {{infoMessage}}
  </div>

  <ion-list *ngIf="productToView != null">
    <ion-grid>
      <ion-row center>
        <ion-col text-center>        
          <ion-img width="120" height="120" src="./assets/imgs/shop1-fiona-treadwell-logo.jpg"></ion-img><br>          
          <ion-item>
            <b>Product Name: </b>{{productToView.productName}}
          </ion-item>

          <ion-item>
            <b>Product Description:</b><br/> {{productToView.description}} <br/><br/>
            <b>Product Price:</b> <br/> ${{productToView.price}} <br/>
            <b>SKU:</b> <br/> {{productToView.skuCode}} <br/>
            <b>Category:</b> <br/> {{productToView.category}} <br/>
            <!--<b>Shop Name:</b> <br/> {{productToView.shop.shopName}} <br/>-->
          </ion-item>                    
           
            <div>         
              <div *ngIf="inquantity.invalid && (inquantity.dirty || inquantity.touched || submitted)" class="errorText">
                <div *ngIf="inquantity.errors.required">
                  Quantity is required.
                </div>
                <div *ngIf="inquantity.errors.min">
                  Quantity must be at least 1.
                </div>
                <div *ngIf="inquantity.errors.max">
                  Quantity selected is more than maximum quantity in stock. Please Reselect Quantity.                
                </div>                            
              </div>

              <div *ngIf="addToCartErrorMessage" class="errorText">
                {{addToCartErrorMessage}}
              </div>  
            </div>
              
            <ion-item>                                 
              <ion-label><b>{{ 'Quantity:' }}</b></ion-label>                                            
              <ion-input type="number" placeholder="Select Quantity" [(ngModel)]="cart.quantity" name="quantity" min="1" max="{{product.quantityOnHand}}" required="true" #inquantity="ngModel"></ion-input>
            </ion-item>  
            
            <button (click) = "addToCart()" ion-button color="primary" outline>{{ 'Add to Cart' }}</button>        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


</ion-content>