<ion-header>
  <ion-toolbar color="secondary">
    <button ion-button menuToggle colour="dark">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Change Password</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="dark" (click)="cartTapped($event, page)">
            <ion-icon name="cart"></ion-icon>
            Cart
          </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <div *ngIf="!pwUpdated" style="padding: 13px">
    <h4>Change Password</h4>
    <form [formGroup]="updatePassword" (ngSubmit)="changePassword(updatePassswordForm)">
      <ion-item>
        <ion-label fixed>Current</ion-label>
        <ion-input type="password" formControlName="inputCurrPassword" placeholder="eg. password" id="inputCurrPassword" minlength="4" maxlength="32" required="true"></ion-input>
      </ion-item>

      <div *ngIf="inputCurrPassword.invalid && (inputCurrPassword.dirty || inputCurrPassword.touched || submitted)" class="errorText">
        <div *ngIf="inputCurrPassword.errors.required">
          Password is required.
        </div>
        <div *ngIf="inputCurrPassword.errors.minlength">
          Password must be at least 4 characters long.
        </div>
        <div *ngIf="inputCurrPassword.errors.maxlength">
          Password cannot exceed 32 characters.
        </div>
      </div>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" formControlName="password" advs-compare="verify" placeholder="eg. password" id="password" minlength="4" maxlength="32" required="true"></ion-input>
      </ion-item>

      <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="errorText">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 4 characters long.
        </div>
        <div *ngIf="password.errors.maxlength">
          Password cannot exceed 32 characters.
        </div>
      </div>

      <ion-item>
        <ion-label fixed>Verify</ion-label>
        <ion-input type="password" formControlName="verify" advs-compare="password" placeholder="eg. password" id="verify" minlength="4" maxlength="50" required="true"></ion-input>
      </ion-item>

      <div *ngIf="verify.invalid && (verify.dirty || verify.touched || submitted)" class="errorText">
        <div *ngIf="verify.errors.required">
          Vereify password is required.
        </div>
        <div *ngIf="verify.errors.compare && !verify.errors.required">
          Password mismatch.
        </div>
      </div>

      <ion-item>
        <button type="submit" ion-button outline>
          Save Changes
        </button>
      </ion-item>
    </form>
  </div><div *ngIf="pwUpdated" style="padding: 13px">
    <h3>Successfully Updated Password</h3>
    <button ion-button color="primary" outline (click)="homeTapped($event, page)">Back To Home</button>
  </div>
</ion-content>

<!-- <ion-content padding class="bg-style">
  <div *ngIf="!pwUpdated">
    <form #changePasswordForm="ngForm" (ngSubmit)="changePassword(changePasswordForm)">
      <div>
        <div *ngIf="incurrpassword.invalid && (incurrpassword.dirty || incurrpassword.touched || submitted)" class="errorText">
          <div *ngIf="incurrpassword.errors.required">
            Current password is required.
          </div>
          <div *ngIf="incurrpassword.errors.minlength">
            Current password must be at least 4 characters long.
          </div>
          <div *ngIf="incurrpassword.errors.maxlength">
            Current password cannot exceed 32 characters.
          </div>
        </div>

        <div *ngIf="innewpassword.invalid && (innewpassword.dirty || innewpassword.touched || submitted)" class="errorText">
          <div *ngIf="innewpassword.errors.required">
            New password is required.
          </div>
          <div *ngIf="innewpassword.errors.minlength">
            New password must be at least 4 characters long.
          </div>
          <div *ngIf="innewpassword.errors.maxlength">
            New password cannot exceed 32 characters.
          </div>
        </div>

        <div *ngIf="inverifypassword.invalid && (inverifypassword.dirty || inverifypassword.touched || submitted)" class="errorText">
          <div *ngIf="inverifypassword.errors.required">
            Verified password is required.
          </div>
          <div *ngIf="inverifypassword.errors.minlength">
            Verified password must be at least 4 characters long.
          </div>
          <div *ngIf="inverifypassword.errors.maxlength">
            Verified password cannot exceed 32 characters.
          </div>
        </div>
      </div>

      <ion-list>
        <ion-item>
          <ion-label fixed>Current</ion-label>
          <ion-input type="password" id="currpassword" name="currpassword" [(ngModel)]="currpassword" minlength="4" maxlength="32" required="true" #incurrpassword="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>New</ion-label>
          <ion-input type="password" id="newpassword" name="newpassword" [(ngModel)]="newpassword" minlength="4" maxlength="32" required="true" #innewpassword="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Verify</ion-label>
          <ion-input type="password" id="verifypassword" name="verifypassword" [(ngModel)]="verifypassword" minlength="4" maxlength="32" required="true" #inverifypassword="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <button type="submit" ion-button outline>
            Save changes
          </button>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <div *ngIf="pwUpdated">
    <h3>Successfully Updated Password </h3>
    <button ion-button color="primary" outline (click)="buttonTapped($event, page)">Back To Home</button>
  </div>
</ion-content> -->
