<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle colour="dark">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Change Password</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="light" (click)="cartTapped($event, page)">
            <ion-icon name="cart"></ion-icon>
            Cart
          </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!pwUpdated">
    <form #changePassswordForm="ngForm" (ngSubmit)="changePasssword(changPasswordForm)">
      <div>
        <div *ngIf="incurrpassword.invalid && (incurrpassword.dirty || incurrpassword.touched || submitted)" class="errorText">
          <div *ngIf="incurrpassword.errors.required">
            Password is required.
          </div>
          <div *ngIf="incurrpassword.errors.minlength">
            Password must be at least 4 characters long.
          </div>
          <div *ngIf="incurrpassword.errors.maxlength">
            Password cannot exceed 32 characters.
          </div>
        </div>

        <div *ngIf="innewpassword.invalid && (innewpassword.dirty || innewpassword.touched || submitted)" class="errorText">
          <div *ngIf="innewpassword.errors.required">
            Password is required.
          </div>
          <div *ngIf="innewpassword.errors.minlength">
            Password must be at least 4 characters long.
          </div>
          <div *ngIf="innewpassword.errors.maxlength">
            Password cannot exceed 32 characters.
          </div>
        </div>

        <div *ngIf="inverifypassword.invalid && (inverifypassword.dirty || inverifypassword.touched || submitted)" class="errorText">
          <div *ngIf="inverifypassword.errors.required">
            Password is required.
          </div>
          <div *ngIf="inverifypassword.errors.minlength">
            Password must be at least 4 characters long.
          </div>
          <div *ngIf="inverifypassword.errors.maxlength">
            Password cannot exceed 32 characters.
          </div>
        </div>
      </div>

      <ion-list>
        <ion-item>
          <ion-label fixed>Current</ion-label>
          <ion-input type="password" id="currpassword" name="currpassword" [(ngModel)]="currpassword" minlength="4" maxlength="32" required="true" #incurrpassword="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>New</ion-label>
          <ion-input type="password" id="newpassword" name="newpassword" [(ngModel)]="newpassword" minlength="4" maxlength="32" required="true" #innewpassword="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Verify</ion-label>
          <ion-input type="password" id="verifypassword" name="verifypassword" [(ngModel)]="verifypassword" minlength="4" maxlength="32" required="true" #inverifypassword="ngModel"></ion-input>
        </ion-item>

        <ion-item>
          <button type="submit" ion-button outline>
            Save changes
          </button>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <div *ngIf="pwUpdated">
    <h3>Successfully Updated Password </h3>
  </div>
</ion-content>
