<ion-header>
  <ion-toolbar color="secondary">
    <button ion-button menuToggle colour="dark">
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Change Password</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="dark" (click)="cartTapped($event, page)">
            <ion-icon name="cart"></ion-icon>
            Cart
          </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <div *ngIf="!pwUpdated" style="padding: 13px">
    <h4>Change Password</h4>
    <form [formGroup]="updatePassword" (ngSubmit)="changePassword(updatePassswordForm)">
      <ion-item>
        <ion-label fixed>Current</ion-label>
        <ion-input type="password" formControlName="inputCurrPassword" placeholder="eg. password" id="inputCurrPassword" minlength="4" maxlength="32" required="true"></ion-input>
      </ion-item>

      <div *ngIf="inputCurrPassword.invalid && (inputCurrPassword.dirty || inputCurrPassword.touched || submitted)" class="errorText">
        <div *ngIf="inputCurrPassword.errors.required">
          Password is required.
        </div>
        <div *ngIf="inputCurrPassword.errors.minlength">
          Password must be at least 4 characters long.
        </div>
        <div *ngIf="inputCurrPassword.errors.maxlength">
          Password cannot exceed 32 characters.
        </div>
      </div>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" formControlName="password" advs-compare="verify" placeholder="eg. password" id="password" minlength="4" maxlength="32" required="true"></ion-input>
      </ion-item>

      <div *ngIf="password.invalid && (password.dirty || password.touched || submitted)" class="errorText">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 4 characters long.
        </div>
        <div *ngIf="password.errors.maxlength">
          Password cannot exceed 32 characters.
        </div>
      </div>

      <ion-item>
        <ion-label fixed>Verify</ion-label>
        <ion-input type="password" formControlName="verify" advs-compare="password" placeholder="eg. password" id="verify" minlength="4" maxlength="50" required="true"></ion-input>
      </ion-item>

      <div *ngIf="verify.invalid && (verify.dirty || verify.touched || submitted)" class="errorText">
        <div *ngIf="verify.errors.required">
          Vereify password is required.
        </div>
        <div *ngIf="verify.errors.compare && !verify.errors.required">
          Password mismatch.
        </div>
      </div>

      <ion-item>
        <button type="submit" ion-button outline>
          Save Changes
        </button>
      </ion-item>
    </form>
  </div><div *ngIf="pwUpdated" style="padding: 13px">
    <h3>Successfully Updated Password</h3>
    <button ion-button color="primary" outline (click)="homeTapped($event, page)">Back To Home</button>
  </div>
</ion-content>
