<ion-header>
  <ion-toolbar color="secondary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Write a Review</ion-title>
    <ion-buttons end>
      <button ion-button icon-left color="dark" (click)="cartTapped($event, page)">
            <ion-icon name="cart"></ion-icon>
            Cart
          </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding class="bg-style">
  <div *ngIf="!isSent" style="padding: 13px">
    <form [formGroup]="createReview" (ngSubmit)="review(createReviewForm)">
      <ion-item>
        <ion-label fixed>Title</ion-label>
        <ion-input type="text" formControlName="title" placeholder="eg. Good Service" id="title" required="true"></ion-input>
      </ion-item>

      <div *ngIf="title.invalid && (title.dirty || title.touched || submitted)" class="errorText">
        <div *ngIf="title.errors.required">
          Title is required.
        </div>
      </div>

      <ion-item>
        <ion-label fixed>Your Review</ion-label>
        <ion-input type="text" formControlName="comment" placeholder="eg. The shop's service was good!" id="comment" required="true"></ion-input>
      </ion-item>

      <div *ngIf="comment.invalid && (comment.dirty || comment.touched || submitted)" class="errorText">
        <div *ngIf="comment.errors.required">
          Your review is required.
        </div>
      </div>

      <ion-item>
        <button type="submit" ion-button outline>
          Review
        </button>
      </ion-item>
    </form>
  </div>

  <div *ngIf="isSent" style="padding: 13px">
    <h4>Your response has been recorded!</h4>
    <button ion-button color="primary" outline (click)="homeTapped($event, page)">Back To Home</button>
  </div>
</ion-content> -->
